apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "mongodb-ha.fullname" . }}-config
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "mongodb-ha.labels" . | nindent 4 }}
data:
  mongod.conf: |
    storage:
      dbPath: {{ .Values.mongodb.storage.dbPath }}
      wiredTiger:
        engineConfig:
          cacheSizeGB: {{ .Values.mongodb.storage.cacheSizeGB }}
    systemLog:
      destination: file
      path: /var/log/mongodb/mongod.log
      logAppend: true
    net:
      port: {{ .Values.mongodb.service.port }}
      bindIp: 0.0.0.0
    replication:
      replSetName: {{ .Values.mongodb.replicaSet.name }}